################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sqldb-betl/obj/Debug
/sqldb-betl/bin/Output
/.vs/betl4Azure/v16
/.vs/BETL2/v16
/.vs
/image/~$betl_overview.pptx
